<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Vue 测试实例 - 菜鸟教程(runoob.com)</title>
    <script src="../../lib/vue.min.js"></script>
</head>
<body>
<div id="app">
    <label for="man">
        <input type="radio" id="man" name="sex" value="男" v-model="sex">男
    </label>

    <label for="woman">
        <input type="radio" id="woman" name="sex" value="女" v-model="sex">女
    </label>

    <input type="text" v-model="message">
    {{ sex }}
</div>

<script>
    const app = new Vue({
        el: '#app',
        data: {
            message: 'abc',
            sex: ''
        },
        methods: {}
    })
</script>
</body>
</html>